/* .carousel div{
    display: inline-block;
}
#carouselImage{
    width: 350px;
    height: 300px;
    
}

#arrowLeft{
    margin-right: 5%;
    height: 0;
    width: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid black;
}    
#arrowRight{
    margin-left: 5%;
    height: 0;
    width: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid black;
} */
